html, body {
	background: #ffffff; 
	margin: 0; 
	padding: 0;
	height: 100%;
	min-width: 550px
} 


.header {
	overflow: auto;
	text-align: center; 
	border: 0; 
	background: #839CB5;
	border-bottom: 2px solid black;
}

#wrapper {
	display: block;
	position: top;
	overflow: auto;
	margin: 0; 
	padding: 0;
	height: 100%;
	min-height: 100%;
}

#links {
	display: inline-block;
	float: left;
	font-size: 0.9rem;
	width: 15%;
	min-width: 5%
}

#content {
	display: inline-block;
	height: 100%;
	position: relative;
	float: left;
	font-size: 1rem;
	width: 69%;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}           

#misc {
	display: inline-block;
	float: right;
	font-size: .9rem;
	width: 15%;
	text-align: center;
	margin-right: 5px;
}

#footer {
	clear: both;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%; 
    border-top: 1px solid gray; 
    font-size: .9rem;
    background-color: #839CB5;
    text-align: center;
    border-top: 2px solid black;
    line-height: 50px
}

.image, .caption {
	text-align: center;
}

.image {
	margin: 20px;
}

a {
	color: #2b2bf6;}

h2, h3 {
	text-align: center;
	font-style: italic;
}


@media screen and (max-width: 480px) {

        h1 {
                font-size: 1.25rem;
        }
        h4 {
                font-size: 1rem;
        }
        sup {
        font-size: .7rem;
        }
        #wrapper, #footer {
                width: 100%;
                padding-bottom: 0;
        }
        #header, #wrapper, #footer  {
                font-size: 1rem;
                margin: 0 .5rem 0 .5rem;
        }
}












